
<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href= "home.scss">
    <title>Bookers</title>
  <div class="header-logo">
  </head>

  <p id="notice"></p>
  <div class="container">
  <div class="row">
  <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
    <body>
    <h2>Welcome to Bookers!</h2>


  </body>
</html>