

  <meta charset="UTF-8" />
  <link rel="stylesheet" href= "home.scss">
    <title>Bookers</title>
  <div class="header-logo">
  </head>

  <p id="notice"></p>
  <div class="container">
  <div class="row">
  <div class="px-3 mx-auto">
    <h1>Welcome to<i class="fa-solid fa-book"></i> Bookers!</h1>

  <div class="container mt-5">
    <div class="row">
    <div class="mx-auto">
      <p>
        CopyRight Infratop.inc
      </p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

